@{
    ViewData["Title"] = "Messages"; 
}

@model acebook.Models.Message

@if (ViewBag.currentUser != null) {<h1 id="IndexTitle">MY MESSAGES</h1>}
else {<h1 id="IndexTitle">MESSAGES - "NOT SIGNED IN"</h1>}

@foreach (List<dynamic> check in ViewBag.HasConversation)
{
  var userDetails = check[0];
  string lastMessage = check[2];
  Message mObject = check[3];
  if (lastMessage == "") {lastMessage = "Start a Conversation!";}
  <a title="MessageRedirect" href="/messages/@userDetails.Id"> 
    @userDetails.Name <img src=@userDetails.ProfileImage width="5%" style="border-radius: 20px;">
  </a>

  if (mObject.User1Id == ViewBag.currentUser.Id) 
  {
    <p>   // "YOU: @mObject.Content"</p>
  }
  else
  {
     <p>  // "@userDetails.Name: @mObject.Content"</p>
  }
  
 
}