@model acebook.Models.Message
<h1>CONVERSATION</h1>
<h2>@ViewBag.currentUser.Name ↔ @ViewBag.otherUser.Name </h2>

@foreach (Message m in ViewBag.AllMessages) 
{
  if (m.User1Id == ViewBag.currentUser.Id || m.User2Id == ViewBag.currentUser.Id) 
  {
    <h5><img src=@ViewBag.currentUser.ProfileImage width="2%" style="border-radius: 20px;"> m.Content</h5>
  }
  else if (m.User1Id == ViewBag.otherUser.Id || m.User2Id == ViewBag.otherUser.Id)
  {
    <h5>m.Content<img src=@ViewBag.currentUser.ProfileImage width="2%" style="border-radius: 20px;"></h5>
  }
}

@if (ViewBag.AllMessages.Count == 0) {<h4> No Current Messages</h4>}
<form action="/messages/@ViewBag.otherUser.Id" method="post">
  <input type="text" name="content" id="messageContent"/>
  <input id="submit_button" type="submit" value="Send"/>
</form>