@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="site.css">
    </head>
        <body>

            @* <div class="text-center">
                <h1 id="greeting" class="display-4">Welcome To Acebook</h1>
                
            </div> *@
            <div id="logo">
                <img src="AcebookLogo.png" alt="acebook_logo" width="auto" height="auto">
            </div>
            <div id="signinsignup">
                <a href="/signup" class="button-18" role="button">Sign Up</a>
                <a href="/signup" class="button-18" role="button">Sign In</a>
                
            </div>
        </body>

@* Test *@











