@{
    ViewData["Title"] = "Posts";
}


<h1 id="title">Posts</h1>

<form action="/posts" method="post">
  <input type="text" name="content"/>
  <input id="submit_button" type="submit" value="Submit"/>
</form>

@foreach (Post post in ViewBag.Posts)
{
  <p>@post.Content</p>
  <p>@post.Time</p>
  <p>
    <a href="/posts/@post.Id" class="btn btn-primary">Comment</a>
</p>
}
