@{
    ViewData["Title"] = "Posts";
}

@model acebook.Models.User

<h1 id="title">Posts</h1>

<form action="/posts" method="post">
  <input type="text" name="content"/>
  <input id="submit_button" type="submit" value="Submit"/>
</form>
@if (ViewBag.Posts.Count == 0)
{
  <p>No Posts!</p>
}
@foreach (Post post in ViewBag.Posts)
{
  if(post.PostParentId == 0){
    <p>NAME BELOW (this line is just a test.)</p>
    <p>@post.User.Name</p>
    <p>@post.Content</p>
    <p>@post.Time</p>
    <p id="LinkToPosts">
      <a href="/posts/@post.Id" class="btn btn-primary" id="LinkToPosts">Comment</a>
    </p>
  }
}
@if (ViewBag.Id != null)
{
  <a href="/profile/@ViewBag.Id">My profile page</a>
}