html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

#logo {
  display: flex;
  justify-content: center;
}

#signinsignup {
  display: flex;
  justify-content: center;
  padding-left: 0%;
}

.button-18 {
  align-items: center;
  background-color: black;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Now', sans-serif;
  font-size: 14px;
  font-weight: 450;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  text-decoration: none;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

/* Sign-Up Page */
.signup-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  
}

.signup-form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.signup-form input[type="submit"] {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.signup-form input[type="submit"]:hover {
  background-color: #0a4aaa;
}

/* Posts Page */
.post-form {
  /* margin-bottom: 40px; */
  min-width: 50%;
  width: fit-content; /* Adjust width as needed */
  margin: 0 auto 20px; /* Horizontally center the form */
  display: flex;
  flex-direction: column; /* Display children vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center the text input */
}

.post-form form input[type="text"],
.post-form form input[type="submit"] {
  display: block; /* Make elements block-level */
  margin: 0 auto; /* Center the elements */
  width: 500px; /* Adjust the maximum width as needed */
}

.post-form form input[type="submit"] {
  margin-top: 10px; /* Add space between input and button */
}


.posts-container {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: fit-content; /* Adjust width as needed. Was 80% */
  min-width: 50%;
  max-width: 90%;
  margin: 0 auto; /* Horizontally center the container */
  background-color: #f0f0f0;
}

.post {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.post p {
  margin: 5px 0;
}

.post img {
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
}

.link-to-posts {
  text-align: right;
}


.profile-container {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: fit-content; 
  min-width: 50%;
  max-width: 90%;
  margin: 0 auto; 
  background-color: #f0f0f0;
}

.profile {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.profile p {
  margin: 5px 0;
}


.profile-header {
  display: flex;
  align-items: center; 
}

.profile-header h2 {
  margin-right: 10px; 
}

.profile-followers {
  padding-top: 25px;
}

.about-me  {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.update-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 10px; 
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#submit_button {
  margin-top: 10px; 
}

.update-profile-deatils {
  padding: 5px;
}



